:root {

    /* Colors */
    --primary-color-1: #0C667D;
    --primary-color-1-darker: #0A4E60;
    --primary-color-2: #389DB7;
    --primary-color-3: #92D7EF;
    --neutral-color-1: #F9F9F9;
    --neutral-color-2: #FFFFFF;
    --neutral-color-3: #343434;
    --accent-color: #F9ACBB;
    --accent-color-darker: #F1768E;

    /* Sizes */
    --hero-title-font-size: clamp(3rem, 4.5vw, 10rem);
    --hero-title-line-height: clamp(3rem, 5vw, 10rem);
    --subtitle-font-size: clamp(1.25rem, 1.5vw, 3rem);
    --big-btn-padding-top-bottom: clamp(0.75rem, 1.25vw, 1.25rem);
}


/* BOILERPLATE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.header {
    gap: 0.5rem;
}

.header .title {
    font-size: clamp(2.25rem, 2vw, 4rem);
    line-height: 2.5rem;
    color: var(--neutral-color-3);
    text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.subtitle {
    font-weight: 300;
    font-size: var(--subtitle-font-size);
    line-height: 1.5rem;
    color: var(--primary-color-1);
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

.small-btn {
    border-style: none;
    border-radius: 0.2rem;
    padding: 0.75rem 1.5rem;
    background: var(--primary-color-1);
    color: var(--neutral-color-1);
    font-weight: bold;
    font-size: clamp(1rem, 1vw, 3rem);
    transition: background-color 0.3s ease;
}

.small-btn:hover {
    background-color: var(--primary-color-1-darker);
}


/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.25rem;

    z-index: 3;
    background: none;
    transition: all 0.25s ease;
}

/* I want to add smooth transition effect when the
background image of the navbar appears/disappears.
However, transition attribute is not applicable to
background images so I used opacity. However, setting
the opacity of the navbar to 0 makes everything, not
just the background image, to disappear. So I used a
pseudo-element to act as the background image of the
navbar which will then shoulder the changes in opacity.*/
.navbar::before {
    /* Background image of the navigation bar which
    is shown when the scrolling is active and hidden
    when navigation bar is topmost.*/
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: url(images/navbar-bg.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.scrolling-active {
    color: var(--neutral-color-1);
}

.scrolling-active.navbar::before {
    opacity: 1;
}

.scrolling-active .logo i, .scrolling-active span {
    color: var(--neutral-color-1);
}

.logo {
    color: var(--primary-color-1);
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    transition: color 0.3s ease;
}

.logo:hover {
    color: var(--accent-color);
}

.logo i {
    margin-right: 0.5rem;
}

.logo .bold {
    font-weight: 900;
}

.toggle-btn {
    cursor: pointer;
}

.toggle-btn .fa-bars {
    font-size: clamp(1.5rem, 2.5vw, 1.75rem);
}

.menu {
    position: absolute;
    right: -100%;
    top: 0;
    transition: right 0.5s ease;

    background-image: url(images/menu-bg.png);
    background-size: cover;
    height: 100vh;
    width: 45vw;
    padding: 1rem;

    color: var(--neutral-color-1);
}

.show {
    right: 0%;
}

.close-btn {
    cursor: pointer;
    align-items: flex-end;
}

.close-btn .fa-xmark {
    font-size: clamp(1.75rem, 2.5vw, 2rem);
}

.menu-links {
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 50%;
}

.link {
    color: var(--neutral-color-1);
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--accent-color);
}


/* HOME */
#home {
    background: url(images/hero.png);
    background-size: cover;
}

.hero {
    height: 100%;
    justify-content: center;
    gap: 5%;
}

.hero .title {
    font-weight: 700;
    font-size: var(--hero-title-font-size);
    line-height: var(--hero-title-line-height);
    align-items: center;
    color: var(--neutral-color-3);
    text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
    max-width: 35rem;
}

.auto-input {
    color: var(--primary-color-1);
}

.hero .subtitle {
    max-width: 30rem;
}

.cta {
    justify-content: space-between;
    max-width: 30rem;
}

.cta a {
    width: 48%;
}

.big-btn {
    border-style: none;
    border-radius: 0.25rem;
    padding: var(--big-btn-padding-top-bottom) 0rem;
    text-align: center;
    color: var(--neutral-color-1);
    font-weight: 900;
    font-size: clamp(1rem, 1.5vw, 1.75rem);
    width: 100%;
}

.contact-cta {
    background-color: var(--primary-color-1);
    transition: background-color 0.2s ease;
}

.contact-cta:hover {
    background-color: var(--primary-color-1-darker);
}

.portfolio-cta {
    background-color: var(--accent-color);
    transition: background-color 0.2s ease;
}

.portfolio-cta:hover {
    background-color: var(--accent-color-darker);
}


/* SAMPLES */
#samples {
    background-color: var(--neutral-color-1);
}

#samples .container {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#samples .header {
    justify-content: center;
    align-items: center;
}

#samples .header .title {
    text-align: center;
    width: clamp(15rem, 35vw, 50rem);
}

#samples .header .subtitle {
    text-align: center;
    max-width: 30rem;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    max-width: 62.5rem;
    margin: auto;
    padding: 0 1.875rem;
}

.carousel .card {
    border-radius: 5%;
}

.carousel .card img {
    border-radius: 5%;
}

.owl-dots {
    text-align: center;
    margin-top: 0.5rem;
}

.owl-dot {
    height: 1rem;
    width: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 0 0.25rem;
    border: 0.125rem solid var(--primary-color-2)!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 2.5rem;
}

.owl-dot:hover, .owl-dot.active {
    background: var(--primary-color-2)!important;
}


/* ABOUT */
#about {
    justify-content: center;
    align-items: center;
    gap: 2.5%;

    background-color: var(--neutral-color-1);
}

#profile-img {
    background-size: cover;
    width: clamp(12rem, 20vw, 30rem);
}

#profile-img img {
    width: 100%;
    border-radius: 50%;
}

#about .header {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about .header .subtitle {
    max-width: 25rem;
}


/* CONTACT */
#contact {
    justify-content: center;
    gap: 1.25rem;
    background-color: var(--neutral-color-1);
}

#contact .header {
    gap: 1.25rem;
}

#details {
    gap: 0.5rem;
}

.detail {
    font-weight: 300;
    font-size: var(--subtitle-font-size);
    line-height: 0.75rem;
    align-items: center;
    gap: 0.625rem;
    color: var(--primary-color-2);
}

.detail .fa-solid {
    width: 8%;
    text-align: center;
}

.detail a {
    color: var(--primary-color-2);
}

#contact .container {
    max-width: 30rem;
    height: 55%;
    gap: 0.5rem;
}

#contact .container h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    align-items: center;
    color: var(--neutral-color-3);
}

#contact form {
    height: 100%;
    gap: 0.25rem;
}

#contact label {
    font-weight: 400;
    font-size: var(--subtitle-font-size);
    line-height: 0.75rem;
    align-items: center;
    color: var(--primary-color-2);
}

.input-field {
    height: 15%;
    gap: 0.5rem;
}

.input-field.message {
    height: 30%;
}

.input-field input, .input-field textarea {
    height: 50%;
    border: 0.2px solid var(--primary-color-2);
    border-radius: 0.125rem;
    padding: 0.25rem;
}

#umessage {
    height: 70%;
}

#contact .small-btn {
    color: var(--neutral-color-1);
    width: 35%;
}


/* FOOTER */
footer {
    height: 15vh;
    color: var(--neutral-color-1);
    background: url(images/navbar-bg.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

footer span:first-child {
    font-weight: bold;
}

footer .container {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: clamp(0.75rem, 1.25vw, 1.5rem);
}

#footer-links {
    gap: 1rem;
}

footer a {
    color: var(--neutral-color-1);
}

.fa-brands {
    font-size: 1.25rem;
}


/* MEDIA QUERIES */
@media (min-width: 600px) {

    /* When the screen is too big already, stop showing the
    hamburger menu button and show the navigation links in 
    the navigation bar itself. */
    .navbar {
        padding: 1.5rem 2rem;
    }

    .toggle-btn, .close-btn {
        display: none;
    }

    .menu {
        flex-direction: row;
        position: static;
    
        background-image: none;
        background-size: cover;
        height: 100%;
        width: 45vw;
        padding: 0;
    }

    .menu-links {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 5%;
        height: 100%;
        width: 100%;
    }

    .link {
        color: var(--neutral-color-3);
    }

    .scrolling-active .link {
        color: var(--neutral-color-1);
    }

    /* When the screen is too big already, switch to
    desktop design wherein elements are aligned in the
    center.*/
    .hero {
        align-items: center;
    }

    .hero .title {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 50rem;
    }
    
    .hero .subtitle {
        text-align: center;
        max-width: 40rem;
    }

    .cta {
        width: 100%;
    }

    /* When the screen is too big already, stop showing
    the contact details and contact form vertically and
    start showing them horizontally. */
    #contact {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #contact .header, #contact .container {
        width: 50%;
    }
}

@media (min-width: 900px) {
    section {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}