:root {
    --primary-color-1: #0C667D;
    --primary-color-2: #389DB7;
    --primary-color-3: #92D7EF;
    --neutral-color-1: #F9F9F9;
    --neutral-color-2: #FFFFFF;
    --neutral-color-3: #343434;
    --accent-color: #F9ACBB;
}


/* BOILERPLATE STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;

    color: var(--neutral-color-3);
    text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.section > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #0C667D;
}

a {
    text-decoration: none;
}


/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem 0.75rem 1rem;

    z-index: 3;
    background: none;
    transition: all 0.25s ease;
}

/* this is created to create a transition effect for the background image of navbar.
however, since transition can't be applied to images directly, the opacity attribute is used.
this pseudo element contains the background image and when the navbar is topmost, its opacity is 0 to hide it, when the navbar is scrolled down, its opacity is 1 to reveal it. */
.navbar::before {
    /* to imitate navbar */
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: url(images/navbar-bg.png);
    background-size: cover;

    /* used opacity for the transition since background is not allowed */
    opacity: 0;
    transition: opacity 0.25s ease;
}

.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    align-items: center;
    text-align: center;
}

.material-symbols-outlined.md-40 {
    font-size: 2.5rem;
}

.scrolling-active {
    color: var(--neutral-color-1);
}

.scrolling-active.navbar::before {
    opacity: 1;
}


/* HOME */
.home {
    background: url(images/hero.png);
    background-size: cover;
    height: 100vh;
}

.hero {
    height: 100%;
    justify-content: center;
    gap: 5%;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3rem;
    align-items: center;
    color: var(--neutral-color-3);
    text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.hero-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-color-1);
    width: 80%;
}

/* Buttons */
.hero-btn {
    justify-content: space-between;
    /* add max-width here later to limit the size for desktop resolution */
}

.contact-me-btn, .check-portfolio-btn {
    border-style: none;
    border-radius: 4px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    max-width: 48%;

    text-align: center;
    color: var(--neutral-color-1);
    font-weight: bold;
    font-size: 1rem;
}

.contact-me-btn {
    background-color: var(--primary-color-1);
}

.check-portfolio-btn {
    background-color: var(--accent-color);
}


/* SAMPLES */
.samples {
    height: 100vh;
    justify-content: center;
    gap: 3%;

    background-color: var(--neutral-color-1);
}

.samples-header > h2 {
    max-width: 70%;
}

/* created for the sole purpose of making the carousel a valid element for flexbox */
.carousel-container {
    width: 100%;
    height: 40%;
}

.carousel {
    margin: 0 auto;
    max-width: 90%;
    height: 100%;
    position: relative;
}

.carousel > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(250, 250, 250, 0.75);
    cursor: pointer;
    padding: 0 0.3rem;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button:hover, .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
    left: -1rem;
}

.carousel-button.next {
    right: -1rem;
}


/* ABOUT */
.about {
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2.5%;

    background-color: var(--neutral-color-1);
}

.profile-img {
    width: 70%;
    border-radius: 50%;
}

.about-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content > p {
    width: 75%;
}

.contact-btn {
    border-style: none;
    border-radius: 3px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    background: var(--primary-color-1);
    color: var(--neutral-color-1);
    font-weight: bold;
}


/* CONTACT */
.contact {
    height: 100vh;
    justify-content: center;
    gap: 1.25rem;
}

.contact-header {
    gap: 1.25rem;
}

.material-symbols-outlined.md-16 {
    font-size: 1.5rem;
}

.name, .email, .address, .phone {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 12px;
    align-items: center;
    gap: 0.625rem;
    color: var(--primary-color-2);
}

.contact-details {
    gap: 0.5rem;
}

.contact a {
    color: var(--primary-color-2);
}

.contact-form {
    width: 100%;
    height: 55%;
    gap: 0.5rem;
}

.contact-form > h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 19px;
    /* DO NOT remove flex here */
    display: flex;
    align-items: center;
    color: var(--neutral-color-3);
}

label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 12px;
    align-items: center;
    color: var(--primary-color-2);
}

form {
    height: 100%;
    /* DO NOT remove flex here */
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input-field {
    height: 15%;
    gap: 0.25rem;
}

div.input-field.message {
    height: 30%;
}

input, textarea {
    height: 50%;
    border: 0.2px solid var(--primary-color-1);
    border-radius: 2px;
    padding: 0.25rem;
}

#umessage {
    height: 70%;
}

.submit-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: var(--neutral-color-1);

    border-style: none;
    background: #0C667D;
    border-radius: 3px;

    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 30%;
}

/* FOOTER */
footer {
    height: 15vh;
    color: var(--neutral-color-1);
    background: url(images/navbar-bg.png);
    background-size: cover;

    /* DO NOT remove flex here */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--neutral-color-1);
}

span:first-child {
    font-weight: bold;
}

.footer-content {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
}

.footer-links {
    gap: 1rem;
}

.fa-brands {
    font-size: 1.25rem;
}